/* 公共样式 */

*{ padding:0; margin:0;}
body {background:#fff;font:normal 12px/1.5 microsoft yahei, Verdana, Arial, verdana, san-serif;color:#333;}
h1, h2, h3, h4, h5, h6, b, i, em { font-size:1em; font-weight:normal; font-style:normal; }
ul, ol, li { list-style:none; margin:0; padding:0 }
img { vertical-align:middle;display:block;border:none; }
input[type=submit] { outline:none; -webkit-appearance: none;}
input[type=button] { outline:none; -webkit-appearance: none;}
input{ outline:none; }
a,a:visited { text-decoration:none; color:#108ee9;outline:none; }
.fl{ float:left;}
.fr{ float:right;}
article, aside, footer, header, hgroup, main, nav, section {display: block;}
a,button,submit,input,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    bottom: 10px;
}
.uc_wap {
    margin-top: 54px;
}
.hide{
    overflow: hidden;
}


@font-face {
    font-family:anticon;src:url('https://at.alicdn.com/t/font_r5u29ls31bgldi.eot');src:url('https://at.alicdn.com/t/font_r5u29ls31bgldi.eot?#iefix') format('embedded-opentype'),url('https://at.alicdn.com/t/font_r5u29ls31bgldi.woff') format('woff'),url('https://at.alicdn.com/t/font_r5u29ls31bgldi.ttf') format('truetype'),url('https://at.alicdn.com/t/font_r5u29ls31bgldi.svg#iconfont') format('svg')
}

.clearfix {
}
.clearfix:before,
.clearfix:after {
    content: '';
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.clearfix:after {
    display: table;
    clear: both;
}

/*
* kd-checkbox
*/
    .kd-checkbox {
        display: block;
        height: .75rem;
        width: .75rem;
        border: 1px solid #666;
        background: #fff;
        position: relative;
        font-size: 0;
        line-height: 0;
        text-align: center;
        margin: 0 auto;
    }
    .kd-checkbox.parted,
    .kd-checkbox.checked {}
    .kd-checkbox.parted:before,
    .kd-checkbox.checked:before {
        display: inline-block;
        content: '';
        width: .1875rem;
        height: .375rem;
        border: 2px solid #666;
        border-left-width: 0;
        border-top-width: 0;
        margin-top: 1px;
    }
    .kd-checkbox.checked:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .kd-checkbox.parted:before {
        width: .5rem;
        height: 0;
        border-right-width: 0;
        margin-top: .3125rem;
    }

/*
* Spinner
*/
    .ant-spin {
        display: block;
        margin: 60px auto;
        width: 30px;
    }
    .ant-spin {
        color:#108ee9;
        vertical-align:middle;
        text-align:center;
        opacity:0;
        position:absolute;
        transition:transform .3s cubic-bezier(.78,.14,.15,.86);
        font-size:12px;
        display:none
    }
    .ant-spin-spinning {
        opacity:1;
        position:static;
        display:inline-block
    }
    .ant-spin-nested-loading {
        position:relative
    }
    .ant-spin-nested-loading .ant-spin {
        position:absolute;
        height:100%;
        width:100%;
        z-index:4
    }
    .ant-spin-nested-loading .ant-spin-dot {
        position:absolute;
        top:50%;
        left:50%;
        margin:-10px
    }
    .ant-spin-nested-loading .ant-spin-sm .ant-spin-dot {
        margin:-7px
    }
    .ant-spin-nested-loading .ant-spin-lg .ant-spin-dot {
        margin:-15px
    }
    .ant-spin-nested-loading .ant-spin-show-text .ant-spin-dot {
        margin:-16px
    }
    .ant-spin-nested-loading .ant-spin-show-text.ant-spin-sm .ant-spin-dot {
        margin:-13px
    }
    .ant-spin-nested-loading .ant-spin-show-text.ant-spin-lg .ant-spin-dot {
        margin:-21px
    }
    .ant-spin-nested-loading .ant-spin-text {
        position:absolute;
        top:50%;
        width:100%;
        padding-top:4px
    }
    .ant-spin-nested-loading .ant-spin-sm .ant-spin-text {
        padding-top:1px
    }
    .ant-spin-nested-loading .ant-spin-lg .ant-spin-text {
        padding-top:9px
    }
    .ant-spin-container {
        transition:all .3s cubic-bezier(.645,.045,.355,1);
        position:relative
    }
    .ant-spin-blur {
        opacity:.7;
        -webkit-filter:blur(1px);
        filter:blur(1px);
        filter:progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1,MakeShadow\=false)
    }
    .ant-spin-blur:after {
        content:'';
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background:transparent
    }
    .ant-spin-tip {
        color:#999
    }
    .ant-spin-dot {
        position:relative;
        display:block;
        width:20px;
        height:20px;
        transform:rotate(45deg);
        animation:antRotate 3.2s infinite linear
    }
    .ant-spin-dot i {
        width:8px;
        height:8px;
        border-radius:50%;
        background-color:#108ee9;
        transform:scale(.6);
        display:block;
        position:absolute;
        opacity:.3;
        animation:antSpinMove .8s infinite linear alternate;
        transform-origin:0 0
    }
    .ant-spin-dot i:nth-child(1) {
        left:0;
        top:0
    }
    .ant-spin-dot i:nth-child(2) {
        right:0;
        top:0;
        animation-delay:.4s
    }
    .ant-spin-dot i:nth-child(3) {
        right:0;
        bottom:0;
        animation-delay:.8s
    }
    .ant-spin-dot i:nth-child(4) {
        left:0;
        bottom:0;
        animation-delay:1.2s
    }
    .ant-spin-sm .ant-spin-dot {
        width:14px;
        height:14px
    }
    .ant-spin-sm .ant-spin-dot i {
        width:6px;
        height:6px
    }
    .ant-spin-lg .ant-spin-dot {
        width:30px;
        height:30px
    }
    .ant-spin-lg .ant-spin-dot i {
        width:12px;
        height:12px;
    }
    .ant-spin.ant-spin-show-text .ant-spin-text {
        display:block
    }
    @media (-ms-high-contrast:active),all and (-ms-high-contrast:none) {
        .ant-spin-blur {
            background:#fff;
            opacity:.5
        }
    }

/*
* Loader
*/
    .kd-loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .25);
        font-size: 2rem;
        text-align: center;
        z-index: 999;
    }
    .kd-loader:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
    }

/*
* Animations
*/
    .animated {
        animation-duration: .35s;
        -webkit-animation-duration: .35s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
    .animated.infinite {
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }

    /*
    * Rotating
    */
        @keyframes antSpinMove {
            to {
                transform:scale(1);
                opacity:1
            }
        }
        @keyframes antRotate {
            to {
                transform:rotate(405deg)
            }
        }

    /*
    * zoomIn
    */
        @keyframes zoomIn {
            from {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
            50% {
                opacity: 1;
            }
        }
        @-webkit-keyframes zoomIn {
            from {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
            50% {
                opacity: 1;
            }
        }
        .zoom-in {
            animation-name: zoomIn;
            -webkit-animation-name: zoomIn;
        }
    /*
    * zoomOut
    */
        @keyframes zoomOut {
            from {
                opacity: 1;
            }
            50% {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
            to {
                opacity: 0;
            }
        }
        @-webkit-keyframes zoomOut {
            from {
                opacity: 1;
            }
            50% {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
            to {
                opacity: 0;
            }
        }
        .zoom-out {
            animation-name: zoomOut;
            -webkit-animation-name: zoomOut;
        }
    /*
    * bounceIn
    */
        @keyframes bounceIn {
            from, 20%, 40%, 60%, 80%, to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
            0% {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
            20% {
                transform: scale3d(1.1, 1.1, 1.1);
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
            }
            40% {
                transform: scale3d(.9, .9, .9);
                -webkit-transform: scale3d(.9, .9, .9);
            }
            60% {
                opacity: 1;
                transform: scale3d(1.03, 1.03, 1.03);
                -webkit-transform: scale3d(1.03, 1.03, 1.03);
            }
            80% {
                transform: scale3d(.97, .97, .97);
                -webkit-transform: scale3d(.97, .97, .97);
            }
            to {
                opacity: 1;
                transform: scale3d(1, 1, 1);
                -webkit-transform: scale3d(1, 1, 1);
            }
        }
        @-webkit-keyframes bounceIn {
            from, 20%, 40%, 60%, 80%, to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
            0% {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
            20% {
                transform: scale3d(1.1, 1.1, 1.1);
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
            }
            40% {
                transform: scale3d(.9, .9, .9);
                -webkit-transform: scale3d(.9, .9, .9);
            }
            60% {
                opacity: 1;
                transform: scale3d(1.03, 1.03, 1.03);
                -webkit-transform: scale3d(1.03, 1.03, 1.03);
            }
            80% {
                transform: scale3d(.97, .97, .97);
                -webkit-transform: scale3d(.97, .97, .97);
            }
            to {
                opacity: 1;
                transform: scale3d(1, 1, 1);
                -webkit-transform: scale3d(1, 1, 1);
            }
        }
        .bounce-in {
            animation-name: bounceIn;
            -webkit-animation-name: bounceIn;
        }
    /*
    * bounceOut
    */
        @keyframes bounceOut {
            20% {
                transform: scale3d(.9, .9, .9);
                -webkit-transform: scale3d(.9, .9, .9);
            }
            50%, 55% {
                opacity: 1;
                transform: scale3d(1.1, 1.1, 1.1);
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
            }
            to {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
        }
        @-webkit-keyframes bounceOut {
            20% {
                transform: scale3d(.9, .9, .9);
                -webkit-transform: scale3d(.9, .9, .9);
            }
            50%, 55% {
                opacity: 1;
                transform: scale3d(1.1, 1.1, 1.1);
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
            }
            to {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
                -webkit-transform: scale3d(.3, .3, .3);
            }
        }
        .bounce-out {
            animation-name: bounceOut;
            -webkit-animation-name: bounceOut;
        }
